:root {
  --ptx-space-1: 0.25rem;
  --ptx-space-2: 0.5rem;
  --ptx-space-3: 0.75rem;
  --ptx-space-4: 1rem;
  --ptx-space-6: 1.5rem;
  --ptx-space-8: 2rem;
  --ptx-space-12: 3rem;
  --ptx-space-16: 4rem;
}
